<section class="bg-light p-5 rounded">

<app-departement-table 
        [departements]="departements"
        [departementsIsLoading]="departementsIsLoading"
        [departementsIsLoaded]="departementsIsLoaded"
        (loadDepartements)="loadDepartements()"
        (loadCommunes)="loadCommunes($event)"
        >
</app-departement-table>



<div>
        <tabset *ngIf="communesIsLoading">
         
          <tab heading="commune" id="tab2" *ngIf="communesIsLoaded"><app-commune-table
                [communes]="communes"
                [communesIsLoading]="communesIsLoading"
                [communesIsLoaded]="communesIsLoaded">
                </app-commune-table></tab>


          <tab heading="Graphique" *ngIf="communesIsLoading"><app-commun-graph
                [communesForGraph]="communesForGraph"
                [communesIsLoading]="communesIsLoading"
                [communesIsLoaded]="communesIsLoaded">
                </app-commun-graph></tab>
                
                <tab heading="departement" id="tab1"><app-departement-table 
                [departements]="departements"
                [departementsIsLoading]="departementsIsLoading"
                [departementsIsLoaded]="departementsIsLoaded"
                (loadDepartements)="loadDepartements()"
                (loadCommunes)="loadCommunes($event)"
                >
        </app-departement-table></tab>
        </tabset>
      </div>


<hr class="m-5">

<app-commune-table
[communes]="communes"
[communesIsLoading]="communesIsLoading"
[communesIsLoaded]="communesIsLoaded">
</app-commune-table>

<hr class="m-5">

<app-commun-graph
[communesForGraph]="communesForGraph"
[communesIsLoading]="communesIsLoading"
[communesIsLoaded]="communesIsLoaded">
</app-commun-graph>


</section>

