<ng-container *ngIf="communesIsLoaded">
    
   

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Code</th>
                <th scope="col">Code département</th>
                <th scope="col">Code région</th>
                <th scope="col">Codes Postaux</th>
                <th scope="col" (click)="tri()">Population</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let commune of getCommunes()">
                <td class="center">{{ commune.nom }}</td>
                <td class="center">{{ commune.code }}</td>
                <td class="center">{{ commune.codeDepartement }}</td>
                <td class="center">{{ commune.codeRegion }}</td>
                <td class="center">{{ commune.codesPostaux }}</td>
                <td class="center">{{ commune.population }}</td>
            </tr>
        </tbody>
    </table>
    
    <pagination [totalItems]="getLength()" [(ngModel)]="currentPage" [boundaryLinks]="true" [maxSize]="10"></pagination>
</ng-container>


<div *ngIf="communesIsLoading">
    <fa-icon class="faSpinner" [icon]="faSpinner" [spin]="true"></fa-icon>
</div>
 <div>
        <label for="search" class="form-label">Rechercher une commune</label>
        <input type="text" class="form-control" name="search" placeholder="Alençon" [(ngModel)]="search" autocomplete="off" >
    </div>

    
    <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
        <!-- Grid container -->
        <div class="container p-4"></div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          
          <a class="text-white" href="https://mdbootstrap.com/">hasta la vistoria sempre</a>
        </div>
        <!-- Copyright -->
      </footer>